[Desktop Entry]
Encoding=UTF-8
Name=FileExtractor
Comment=File Recovery Tool written in Python
Version=1.0.4
GenericName=FileExtractor
Terminal=false
Icon=fileextractor.png
Type=Application
Exec=python /opt/fileextractor/FileExtractor.py
Categories=Office;
