recursive-include icons *.png
recursive-include newicons *.png
recursive-include imagegenerator/icons *.png
include README
include install
include changelog.old
include types.dat
include fileextractorhelp.zip
include fileextractor.desktop
